

.containerLogin{
overflow: hidden;
.loginPage {
        background-color: #f8f9fa;
        /* Light background color */
    }

    .cardLogin {
        max-width: 400px;
        width: 100%;
        // border: 1px solid #df000c !important;
        border-radius: 10px;
        background-color: #d1d4d7 !important;

        /* Add shadow and glow effect */
        box-shadow: 0 8px 20px rgba(223, 0, 12, 0.4),
            /* Soft shadow */
            0 0 20px rgba(223, 0, 12, 0.6),
            /* Outer glow effect */
            0 0 40px rgba(223, 0, 12, 0.3);
        /* Deeper glow */
    }

    .logo {
        margin-bottom: 1rem;
        width: 80px;
        height: auto;
    }

    .inputColor {
        background-color: #d1d4d7 !important;
        border: 1px solid black !important;
        color: #000 !important;
    }

    .buttonDanger {
        background-color: #df000c !important;

    }

    .hoverButton {
        border-color: #df000c !important;
        // color: while !important;
    }

    .hoverButton:hover {
        background-color: #df000c !important;
    }

    .mainheading {
        margin-top: 80px;
    }
    .imageandName{
      height: 100px;
      width: 100px;
        margin-top: 80px;
        border-radius: 50px;
        margin-right: 20px;
        border: 3px solid #df000c;
    }
        .errorMessage {
            color: #df000c;
            font-size: 14px;
            /* Adjust the size if needed */
            margin-top: 5px;
        }
}

@media (max-width: 768px) {
    .cardLogin {
     // max-width: 300px; /* Further reduce the form width */
      margin-top: 120px; /* Add more margin to avoid overlap */
    }
  
    // .mainheading {
    //   font-size: 1.8rem; /* Further adjust text size */
    // }
  
    // .imageandName {
    //   height: 60px; /* Further adjust logo size */
    //   width: 60px;
    // }
  }

  @media (max-width: 1280px) {
    .cardLogin {
     // max-width: 350px; /* Reduce the form width */
      margin-top: 120px; /* Adjust top margin to avoid overlapping */
    }
 
    // .imageandName {
    //   height: 80px; /* Adjust logo size */
    //   width: 80px;
    // }
  }