.updateStatustime {
   // margin-right: 20px;
   margin-top: 8px;
   z-index: 999999;
}
.buttonCenter {
  // display: flex;
   //justify-content: space-around;
  // margin: auto;
}
.statusCheckGreenColor {
   color: #198754;
margin-left: 20px;
font-weight:500 ;
  // display: block;
// margin: auto;
}
.statusCheckColor {
   color: black;
margin-left: 20px;
font-weight:500 ;
  // display: block;
// margin: auto;
}
.statusCheckRedColor {
   color: red;
margin-left: 20px;
font-weight:500 ;
  // display: block;
// margin: auto;
}