.bookSlotButton {
  float: right;
  border: 2px solid #df000d;
  background-color: white;
  color: #df000d;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  //margin-left: auto; // Push button to the extreme right
  //margin-right: 20px; // 20px margin from the right edge

  &:hover {
    background-color: #df000d;
    color: white;
  }
}

.StudentTableWrapper {
  padding: 10px 20px;
  // margin-left: 50px;
  // margin-right: 50px;

  .table {
    width: auto;

    thead {
      background-color: #f6f6f6;
      border-radius: 12px;
      border: 2px solid #df000d;

      th {
        padding: 10px 15px;
        width: fit-content;
        text-align: center;
        border: 2px solid #df000d;
        max-width: 110px;
        // max-width: 150px;
        width: 100%;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f6f6f6 !important;

          width: fit-content;
        }

        &:nth-child(odd) {
          background-color: #f8d7da !important;

          width: fit-content;
        }

        td {
          width: fit-content;
          padding: 10px 15px;
          border: 2px solid #df000d;
          text-align: center;
          // text-wrap: nowrap;
          text-transform: lowercase;
          min-width: 100px;
          max-width: 110px;

          text-wrap: wrap;
          width: 100%;
        }
        td::first-letter {
          text-transform: uppercase;
        }
        .statusText {
          margin-right: 10px;
          margin-top: 5px;
          text-wrap: nowrap;
        }
        .statusContainer {
          min-width: 100px;
          max-width: 130px;

          width: 100%;
        }
        .updateStatus {
          max-width: 90px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          text-wrap: nowrap;
          margin-right: 10px;
        }
      }
    }
  }

  .paginationControls {
    margin-top: 20px;

    float: right !important;
    margin-right: 20px;

    .pageCount {
      margin: 5px !important;
      color: black !important;
      border: none !important;
      text-align: center;
      font-size: 16px;
    }

    .paginationbutton {
      background-color: #df000d;
      color: white;
      padding: 10px 20px;
      border: none;
      margin-right: 5px;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover {
        background-color: #c4000b;
      }
    }
  }
}

.noSessionData {
  color: #c4000b;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}
